form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    width: 60%;
    height: auto;
    border-radius: 50px;
    margin: auto;
    border: solid crimson;
}
ul{
    text-align: center;
    width: 80%;
    column-count: 2;


}
.error{
    text-align: center;
    color: crimson;
}
input,select{
    margin-top: 2%;
}
.submit{
    margin: auto auto 5px;
}
body{
    background-color: darkseagreen;
}
button{
    margin-bottom: 5px;
    margin-top: 5px;
}